.venv
.env
**/__pycache__
build/*
!build/docs
build/docs/*
!build/docs/make.bat
!build/docs/Makefile
!build/docs/source
build/docs/source/*
!build/docs/source/conf.py
!build/docs/source/index.rst
.coverage
.app_prop*
!.app_prop_sample
